#form {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

html, body{
  margin: 0;
  padding: 0;
}

/* Optional custom styles for modal overlay */
.modal.fade.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjust textarea appearance if needed */
textarea.form-control {
  resize: none;
  /* Prevent resizing */
  border-radius: 4px;
}


/* Hide the scrollbar but keep scrolling functionality */
.scroll-container {
  overflow-y: scroll;
  /* Enable scrolling */
  scrollbar-width: none;
  /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in webkit-based browsers (Chrome, Safari, etc.) */
}

/* Add this CSS to your global styles */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
